body, html {
    height: 100%;
    min-height: 100%;
}

$background: #fffff0;

body {
    background-color: $background;
}

#page-wrapper {
    min-height: 100vh;
    margin-top: -51px;
    padding-top: 70px !important;
}

/* Navbar */

.fertech-navbar{
    background-color: rgba(236, 0, 0, 0.25);
    border: 0;

    .navbar-header{
        background-color: rgb(237, 20, 61);
        width: 251px;

        a{
            color:#fefefe;
        }
    }

    .navbar-top-links li a.dropdown-toggle{
        color:#fefefe;
    }
}

/* Main Tool Window */

.tool-main-container {
    padding: 20px !important;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#473f77+0,ba5555+100 */
    background: #473f77; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #473f77 0%, #ba5555 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #473f77 0%, #ba5555 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #473f77 0%, #ba5555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#473f77', endColorstr='#ba5555', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.tool-panel-header {
    margin-bottom: 7px;
    background-color: rgba(162, 2, 2, 0.3);
}

.tool-panel-header .panel-heading {
    font-weight: bold;
    color: #f1f1f1;
}

.tool-panel-header .panel-heading .header {
    float: left;
    background-color: white;
    padding: 13px;
    margin: -13px 15px 0 0;
    color: #505050;
}

.tool-panel {
    background: rgba(0, 0, 0, 0.14);
    border-left: 0px;
    border-right: 0px;

    .panel-form{
        //background-color: rgba(109, 22, 22, 0.31);
    }

    .buttons-container{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
    }
}

/* Tabs */
.tabs-container{
    li:not(.active) a{
        background-color: rgba(162, 2, 2, 0.3);
        color: #c1c1c1;

        &:hover{
            background-color: rgba(162, 2, 2, 0.7);
            border:1px solid #5d0000;
        }
    }
}

/* Badge Checkboxes */
.panel-form input[type="checkbox"] {
    display: none;

    + .btn-group > label span {
        width: 20px;

        &:first-child {
            display: none;
        }

        &:last-child {
            display: inline-block;
        }
    }

    + .btn-group .checker {
        color:#fefefe;
        text-shadow:0px 0px 2px #373737;

        transition: all 0.3s;
    }

    &:not(checked) {
        + .btn-group .checker {
            background-color: #fc3344 !important;
        }

        + .btn-group {
            .active {
                background-color: #ffd9dc;

                .checker-text:before {
                    content: 'Nieaktywny';
                }
            }
        }
    }

    &:checked {
        + .btn-group .checker{
            background-color: #5ebb00 !important;
        }

        + .btn-group > label span:first-child {
            display: inline-block;
        }

        + .btn-group > label span:last-child {
            display: none;
        }

        + .btn-group {
            .active {
                background-color: #e9ffd9;;

                .checker-text:before {
                    content: 'Aktywny';
                }
            }
        }
    }
}

.checkboxes-container {
    float: left;
    margin-right: 15px;
}

.checkboxes-container:checked {
    float: right;
    margin-right: 15px;
}

/* DataTables */
.dataTable {

    tbody tr{
        &:hover{
            background-color: #ffccb7;
        }
    }

    td.actions-container {
        min-height: 35px;
        padding: 5px 0 0 0;
        display: table-cell;
        align-items: center;
        background-color: #d3d3d3;

        .action-button {
            padding: 12px;
            border-radius: 0px;
        }
    }
}

/* TinyMCE */

.tinyMCEfull{
    min-height:500px;
}

.page-title-preview{
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 35%;
    background-size: cover;
    text-align: center;
    padding: 57px 0;
}

/* jQuery UI */
.ui-slider {
    margin-top: 10px;
    background-color: #d8d8d8 !important;

    .options-slider {
        width: 3em !important;
        height: 1.6em !important;
        top: 50% !important;
        margin-top: -.8em !important;
        text-align: center !important;
        line-height: 1.6em !important;
    }
}
/* Bootstrap Changers */

.dropdown-options{
    margin-top:0px;
    padding:5px;
    width:100%;
    background-color: rgba(46, 46, 46, 0.92);

    li{
        margin-bottom:5px;
        text-shadow: 0px 1px 2px #272727;

        .btn:not(:hover){
            background-color:transparent;
        }
    }
}

.modal-transparent{
    background-color: rgba(231, 231, 231, 0.95);
    overflow: hidden;
    border:0px;

    .close{
        padding: 3px 15px;
        border: 1px solid red;
        background-color: #f00;
        box-sizing: unset;
        color: #fff;
    }

    .modal-header{
        background-color: rgba(255, 255, 255, 0.7);
    }

    .modal-footer{
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.loading-box{
    text-align: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 110px;
    height: 110px;

    span{
        padding: 40px;
        font-size: 30px;
        color: #ff6347;
    }
}

/* Animations */

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.a-rotate {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@-webkit-keyframes highlighting /* Safari and Chrome */ {
    0% {
        text-shadow: 0px 0px 0px #ff6347;
    }
    50% {
        text-shadow: 0px 0px 30px #ff6347;
    }
    100% {
        text-shadow: 0px 0px 0px #ff6347;
    }
}
@keyframes highlighting {
    0% {
        text-shadow: 0px 0px 0px #ff6347;
    }
    50% {
        text-shadow: 0px 0px 30px #ff6347;
    }
    100% {
        text-shadow: 0px 0px 0px #ff6347;
    }
}

.a-highlight {
    -webkit-animation: highlighting 2s ease infinite;
    -moz-animation: highlighting 2s ease infinite;
    -ms-animation: highlighting 2s ease infinite;
    -o-animation: highlighting 2s ease infinite;
    animation: highlighting 2s ease infinite;
}